body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(37, 37, 37);
    overflow: hidden;
}
.img-photo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.rounded-circle {
    border-radius: 50%!important;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
.section {
    padding: 10px 50px 0 150px;
}
.img-cover {
    width: 250px;
    box-shadow: 0 4px 8px 0 #00000040, 0 6px 20px 0 #0000001e;
}
.social-media-buttons {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.social-media-buttons>a {
    margin: 10px;
    text-decoration: none;
}

.link{
    text-decoration: none;
}

.link:hover{
    color: #fff;
}

button:hover{
    background-color: #e84855;
    color: #fff !important;
    cursor: pointer;
}

h1,
h2,
h3,
button,
label {
    font-family: 'Raleway', sans-serif;
    color: #e84855;
}

p,
li,
i {
    font-family: 'Lato', sans-serif;
    color: #7a7a7a;
}

a,
a:focus,
a:hover,
a:active {
    color: #e84855;
}

b,
label {
    color: #fff;
}

label {
    width: 100px;
    height: 38px;
    padding: 7px 10px 7px 10px;
    margin: 10px;
    border-left: 2px solid #e84855;
    border-radius: .25rem
}

button {
    background: transparent;
    padding: 10px 0 10px 0;
    width: 100%;
    font-weight: 500;
    border: 2px solid #e84855;
    transition: background-color 0.5s ease-out;
    -webkit-transition: background-color 0.5s ease-out;
}

.icon{
    width: 50px;
    height: 45px;
}

.display-4{
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
    font-family: 'Raleway';
}